//读取*.xls文件的路径 注意读取的是多个文件，所以是路径名
load_xls=/Developer/cocos2d-x-3.6/Project/PaPaRoom/tools/JavaExcel2PB/xls/
//读取pb的文件路径，这个pb是关联xls的表字段的pb
load_pb=/Users/liumingliang/Desktop/JavaExcel2PB/battle.proto
//定义关系：1 pb文件message名，2 要输出的xls的名，3 xls中sheet名 必须完全一致。考虑到xls文件夹有些表不一定输出，所以单独的在配置中写出来。
xls_name=Talent,Sound,Story,Task,Scene,Shop,Achievement,Arms,Bet,Build,Gather,Guide,Help,Item,Monster,PageInfo,Resource,Tower
//输出的二进制文件路径和名称
output_path=/Developer/cocos2d-x-3.6/Project/PaPaRoom/Resources/bin/battle.bin
